*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    background:#222;
    color:white;
}

/* ---------- Header ---------- */

header{
    height:70px;
    background:#333;
    border-bottom:2px solid #555;

    display:flex;
    justify-content:center;
    align-items:center;
}

header h1{
    font-size:34px;
}

/* ---------- Layout ---------- */

main{
    display:grid;
    grid-template-columns:1fr 2fr;
    height:calc(100vh - 70px);
	overflow:hidden;
}

/* ---------- Notebook ---------- */

#notebook{
    border-right:2px solid #555;
    padding:20px;

    display:flex;
    flex-direction:column;
}

#notebook h2{
    text-align:center;
    margin-bottom:15px;
}

#notebook textarea{
    flex:1;

    resize:none;

    background:#111;
    color:white;

    border:1px solid #666;

    padding:12px;

    font-size:16px;

    outline:none;
}

/* ---------- Witnesses ---------- */

#witnesses{
    padding:20px;
    display:flex;
    flex-direction:column;
	min-height:0;
	overflow:hidden;
}

#witnesses h2{
    text-align:center;
    margin-bottom:15px;
}

.witnessList{
    flex:1;
	min-height:0;

    overflow-y:auto;
	overflow-x:hidden;
	
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(256px, 1fr));
	gap:20px;
	padding:15px;
}

.witnessBtn{
    background:transparent;
    border:none;
    color:white;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:8px;
}

.witnessBtn:hover{
    background:#2c2c2c;
    border-radius:6px;
}

.witnessBtn img{
    width:256px;
    height:auto;
    object-fit:contain;
    margin-bottom:5px;
}

.witnessBtn span{
    font-size:24px;
    text-align:center;
    word-break:break-word;
}

/* ---------- Image Popup ---------- */

#popup{
    display:none;
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.95);

    justify-content:center;
    align-items:center;

    overflow:auto;

    z-index:9999;
}

#popupImage{
    display:block;

    max-width:95vw;
    max-height:95vh;

    cursor:grab;
    user-select:none;
    transition:transform .1s ease;
    -webkit-user-drag: none;
    user-select: none;
}

#closePopup{
    position:fixed;
    top:20px;
    right:30px;

    color:white;
    font-size:60px;
    font-weight:bold;
    cursor:pointer;

    z-index:10000;
}

#prevImage,
#nextImage{
    position:fixed;
    top:50%;
    transform:translateY(-50%);

    width:70px;
    height:70px;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,.6);
    color:white;

    font-size:42px;
    font-weight:bold;
    cursor:pointer;

    z-index:10001;
}

#prevImage{
    left:20px;
}

#nextImage{
    right:20px;
}

#prevImage:hover,
#nextImage:hover{
    background:rgba(255,255,255,.25);
}

