*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    background:#222;
    color:white;
}

/* ---------- Header ---------- */

header{
    height:70px;
    background:#333;
    border-bottom:2px solid #555;

    display:flex;
    justify-content:center;
    align-items:center;
}

header h1{
    font-size:34px;
}

/* ---------- Layout ---------- */

main{
    display:grid;
    grid-template-columns:1fr 2fr;
    height:calc(100vh - 70px);
	overflow:hidden;
}

/* ---------- Notebook ---------- */

#notebook{
    border-right:2px solid #555;
    padding:20px;

    display:flex;
    flex-direction:column;
}

#notebook h2{
    text-align:center;
    margin-bottom:15px;
}

#notebook textarea{
    flex:1;

    resize:none;

    background:#111;
    color:white;

    border:1px solid #666;

    padding:12px;

    font-size:16px;

    outline:none;
}

/* ---------- Witnesses ---------- */

#witnesses{
    padding:20px;
    display:flex;
    flex-direction:column;
	min-height:0;
	overflow:hidden;
}

#witnesses h2{
    text-align:center;
    margin-bottom:15px;
}

.witnessList{
    flex:1;
	min-height:0;

    overflow-y:auto;
	overflow-x:hidden;
	
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(256px, 1fr));
	gap:20px;
	padding:15px;
}

.witnessBtn{
    background:transparent;
    border:none;
    color:white;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:8px;
}

.witnessBtn:hover{
    background:#2c2c2c;
    border-radius:6px;
}

.witnessBtn img{
    width:256px;
    height:auto;
    object-fit:contain;
    margin-bottom:5px;
}

.witnessBtn span{
    font-size:24px;
    text-align:center;
    word-break:break-word;
}

/* ---------- Image Popup ---------- */

#popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;

    background:rgba(0,0,0,0.85);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

#popupImage{
    max-width:90vw;
    max-height:90vh;
    object-fit:contain;
}

#closePopup{
    position:absolute;
    top:20px;
    right:35px;

    color:white;
    font-size:50px;
    cursor:pointer;
    user-select:none;
}
